*{
  font-family: 'Roboto';
}
ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: #ffffff;
}

main{
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 8px;
  column-gap: 8px;
  row-gap: 8px;
  background-color: #000000;
  overflow: hidden;
}
/* header  */
.header{
  height: 30px;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
}
.header-left-section{
  max-height: 30px;
  margin-left: 15px;
  font-weight: bold;
  color: #ffffff;
}
.header-right-section-btn{
  background-color: #121212;
  border: none;
  cursor: pointer;
  padding: 5px 12px 3px 12px;
}

.header-right-section-btn-close:hover{
  background-color: #ff0000;
}

.header-right-section-img{
  width: 15px
}

/* left section*/

.sidebar-left{
  display: flex;
  flex-direction: column;
  column-gap: 8px;
  row-gap: 8px;
  min-width: 300px;
}
/* navi-bar */

.navi-bar-ul{
  background-color: #121212;
  padding: 8px 12px;
  border-radius: 8px;
  margin: 0;
}

.navi-bar-li{
  display: flex;
  gap: 20px;
  align-items: center;
  box-sizing: border-box;
  height: 40px;
  text-align: left;
  color: #b3b3b3;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  padding: 4px 12px;
}

.navi-img{
  height: 20px;
  padding-right: 15px;
  background-color:#121212;
}

/* playlist's library */

.library{
  display: flex;
  flex-direction: column;
  column-gap: 8px;
  line-height: 25.6px;
  color: #b3b3b3;
  background-color: #121212;
  border-radius: 8px;
}

/* playlist's library header */

.library-header{
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  column-gap: 8px;
  padding: 8px 16px;
}

.library-header-left-btn{
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  min-block-size: 40px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  background-color: transparent;
  color: #a7a7a7;
  border: none;
  cursor: pointer;
  padding: 4px 8px;
}

.library-btn{
  padding: 8px 9.5px;
  border-radius: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: 5px;
}
.library-btn:hover{
  background-color: #ffffff1a;
}

/* playlist's library buttons */

.library-buttons{
  margin: 8px 16px;
}

.playlist-btn{
  align-items: flex-start;
  box-sizing: border-box;
  display: inline-flex;
  flex-shrink: 0;
  margin-right: 8px;
  max-inline-size: 100%;
  position: relative;
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
  text-align: center;
  vertical-align: middle;
  border: none;
  background-color: transparent;
  border-radius: 32px;
  background-color: #ffffff12;
  font-family: 'CircularSp';
}

.playlist-btn-name{
  padding: 6px 12px;
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;
}

/* playlists */
.library-playlist{
  display: flex;
  flex-direction: column;
  padding: 0 8px 8px;
  height: 644px;
  /* i must change it somehow */
  overflow-y: scroll;
}
/* searchbar */

.library-playlist-searchbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 8px 0px;
}

.library-playlist-searchbar-megnifier-btn{
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.library-playlist-searchbar-megnifier-btn:hover{
  background-color: #ffffff1a;
}

.library-playlist-searchbar-last-btn{
  font-family: 'CircularSp';
  display: flex;
  column-gap: 8px;
  align-items: center;
  margin-left: 8px;
  padding: 0  8px 0 12px;
  font-size: 13px;
  background-color: transparent;
  color: #ffffffb3;
  border: none;
  cursor: pointer;
}

.sidebar-playlist{
  margin: 0;
  padding: 0;
}

.direct-playlist-layout{
  display: grid;
  gap: 8px 12px;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1tr auto;
  box-sizing: border-box;
  position: relative;
  border-radius: 6px;
  min-block-size: 56px;
  padding: 8px;
  cursor: pointer;
}

.direct-playlist-layout-img{
  width: 48px;
  height: 48px;
}

.direct-playlist-img{
  object-fit: cover;
  object-position: center;
  grid-column: 1/auto;
  column-gap: 16px;
  height: 100%;
  width: 100%;
}

.direct-playlist-layout-text{
  grid-column-end: -1;
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.direct-playlist-layout-text-grid{
  display: flex;
  flex-direction: column;
  gap: 2px;
  word-break: break-all;
}

.direct-playlist-name{
  margin-block: 0;
  font-size: 16px;
  line-height: 25px;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.direct-playlist-layout-bottom-text{
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.8125rem;
  font-size: 13px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.fav-tracks{
  width: 12px;
}

.fav-tracks-path{
  fill: #00b300;
}

.fav-tracks-path:hover{
  fill: #00b300
}

/*   */

path{
  fill: #a7a7a7;
}
path:hover{
  fill: #ffffff;
}
.svg{
  margin-inline-end: 12px;
}
/* center container*/
.center{
  background-color: #121212;
  border-radius: 8px;
}

.main-viev-header{
  height: 64px;
}

.main-header{
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 16px 24px;
}

.navi-button{
  display: flex;
  gap: 8px;
}
.main-header-btn-left,
.main-header-btn-right{
  background-color: #000000b3;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  height: 32px;
  width: 32px;
  opacity: 0.6;
  color: red;
}

.main-header-btn-left:hover{
  opacity: 1;
}


.navi-people{
  display: flex;
  column-gap: 8px;
}

.main-header-btn-right{
  opacity: 1;
  padding: 0;
}

.main-header-picture{
  margin: 4px;
}
.main-header-picture-img{
  height: 24px;
  width: 24px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.main-playlists{
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 8px 16px 0px;
  background: transparent;
  height: 811px;
  overflow-y:scroll;
}

.main-gradient{
  height: 332px;
  margin-top: -64px;
  position: absolute;
}

.last-playlists{
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  margin-bottom: 16px;
  min-width: 200px;
  position: relative;
  background-color: transparent;
}

.last-playlists-greeting{
  display: flex;
  margin-bottom: 16px;
  margin-top: 0;
  box-sizing: border-box;
  font-size: 32px;
  font-weight: 700;
  
}

.last-playlist-layout{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(270px,25%),1fr));
  column-gap: 24px;
  row-gap: 12px;
}

.last-playlist{
  background-color: #ffffff1a;
  border-radius: 4px;
  max-height: 64px;
  display: flex;
  align-items: center;
}

.playlist-photo{
  height: 64px;
  width: 64px;
  min-height: 64px;
  min-width: 64px;
}

.playlist-img{
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.playlist-text{
  padding: 0 16px;
}

.playlist-name{
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}

/*random Playlist*/

.random-playlist{
  margin-bottom: 16px;
}

.random-playlist-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.random-playlist-name{
  font-size: 28px;
  font-weight: 500;
}

.random-playlist-show-all{
  font-size: 13px;
  font-weight: bold;
  color: #b3b3b3;
}

.random-playlist-container{
  display: flex;
  column-gap: 18px;
}

.random-playlist-playlist{
  display: flex;
  flex-direction: column;
  gap: 18px;
  background-color: #181818;
  padding: 16px;
  border-radius: 8px;
  max-width: 200px;
}

.random-playlist-playlist:hover{
  background-color: #363636;
  transition: 0.5s;
}

.random-playlist-img{
  width: 200px;
  height: 200px;
  box-shadow: 0 8px 24px #00000080;
}

.random-playlist-img>img{
  height: 100%;
  border-radius: 8px;
}

.random-playlist-text-name{
  font-size: 18px;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.random-playlist-text-author{
  font-size: 14px;
  color: #b3b3b3;
  padding: 8px 0 12px;
}

.sidebar-right{
  background-color: #121212;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  min-width: 280px;
  padding: 16px;
}
.sidebar-right-header{
  display: flex;
  justify-content: space-between;
}

.sidebar-right-btn{
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

.close-friendlist-btn{
  background-color: #121212;
  border: none;
  cursor: pointer;
  padding: 5px;
  background-color: transparent
}

.close-friendlist-btn>img{
  width: 16px;
}

.friends-list{
  padding: 0;
}

.friend{
  display: flex;
  justify-content: space-between;
  padding: 12px 8px;
}

.friend-info{
  display: flex;
  gap: 10px;
}

.friend-photo>img{
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.friend-activity{
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-size: 13px;
  color: #b3b3b3;
}
.friend-name{
  color: ffffff;
  font-weight: bold;
  padding-bottom: 2px;
}

.friend-time{
  font-size: 13px;
  color: #b3b3b3;
  box-sizing: border-box;
}